# Core dependencies
fastapi
uvicorn

# Embedding and vector search
langchain==0.0.208
openai==0.27.4
pinecone-client==2.2.2

# Configuration and environment management
pydantic
python-dotenv==1.0.0

# Logging
loguru==0.6.0

pytesseract
python-multipart
pinecone
PyPDF2